<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi0BaEKKW8D42NHG3OsPcac2fFqm7Jd9U</string>
	<key>GCM_SENDER_ID</key>
	<string>56083213883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppDart</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-17b69</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-17b69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56083213883:ios:0239a35adca7854fe3f61e</string>
</dict>
</plist>